node-red/example.json
[{"id":"6f6e4e31.dc408","type":"tab","label":"iot","disabled":false,"info":""},{"id":"8bfb4b6d.0865f8","type":"inject","z":"6f6e4e31.dc408","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"id\":\"11TEM01_00\",\"value\": 666666666}","payloadType":"json","x":210,"y":380,"wires":[["9e97fccf.4dfdd"]]},{"id":"c5b83371.1e824","type":"http request","z":"6f6e4e31.dc408","name":"","method":"POST","ret":"txt","paytoqs":"body","url":"https://dtwinplatformconnectiot.azurewebsites.net/login","tls":"","persist":false,"proxy":"","authType":"","x":530,"y":180,"wires":[["82a03532.6ad388"]]},{"id":"d62a6a2f.a60288","type":"inject","z":"6f6e4e31.dc408","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":210,"y":180,"wires":[["3ed82ba5.7adc14"]]},{"id":"f4585e46.d8e8d","type":"comment","z":"6f6e4e31.dc408","name":"On start","info":"This function will be executed once node-red service is started","x":200,"y":40,"wires":[]},{"id":"7bf69367.b0597c","type":"inject","z":"6f6e4e31.dc408","name":"on Start","props":[],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payloadType":"str","x":220,"y":80,"wires":[["7e12dcb.f916324"]]},{"id":"7e12dcb.f916324","type":"change","z":"6f6e4e31.dc408","name":"Set you credentials and client ID","rules":[{"t":"set","p":"credentials","pt":"global","to":"{\"email\":\"your-email\",\"password\":\"your-password\"}","tot":"json"},{"t":"set","p":"clientid","pt":"global","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":80,"wires":[[]]},{"id":"5ca8b205.079cac","type":"change","z":"6f6e4e31.dc408","name":"Set token","rules":[{"t":"set","p":"token","pt":"global","to":"payload.token","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":180,"wires":[["714e9cd.9ea3164"]]},{"id":"82a03532.6ad388","type":"json","z":"6f6e4e31.dc408","name":"","property":"payload","action":"","pretty":false,"x":670,"y":180,"wires":[["5ca8b205.079cac"]]},{"id":"3ed82ba5.7adc14","type":"change","z":"6f6e4e31.dc408","name":"","rules":[{"t":"set","p":"headers","pt":"msg","to":"{\"accept\":\"*/*\",\"Content-Type\":\"application/json\"}","tot":"json"},{"t":"set","p":"payload","pt":"msg","to":"credentials","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":180,"wires":[["c5b83371.1e824"]]},{"id":"714e9cd.9ea3164","type":"function","z":"6f6e4e31.dc408","name":"","func":"node.warn(global.get(\"token\"));\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1000,"y":180,"wires":[[]]},{"id":"e05fdbba.9e5098","type":"inject","z":"6f6e4e31.dc408","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"id\":\"11TEM01_00\",\"value\": 666666666}","payloadType":"json","x":210,"y":280,"wires":[["f212200a.4708"]]},{"id":"f212200a.4708","type":"function","z":"6f6e4e31.dc408","name":"","func":"const token = global.get('token');\nconst clientid = global.get('clientid');\n\nmsg.headers = {\n    'accept': '*/*',\n    'Authorization': `Bearer ${token}`\n};\n\nmsg.query = clientid;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":280,"wires":[["dd6a2080.7daee"]]},{"id":"dd6a2080.7daee","type":"http request","z":"6f6e4e31.dc408","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://dtwinplatformconnectiot.azurewebsites.net/api/v1/devices?clientid={{{query}}}","tls":"","persist":false,"proxy":"","authType":"","x":530,"y":280,"wires":[["9db99b1a.a43418"]]},{"id":"9db99b1a.a43418","type":"json","z":"6f6e4e31.dc408","name":"","property":"payload","action":"","pretty":false,"x":670,"y":280,"wires":[["ded5045f.c92048"]]},{"id":"87bcb116.d9dae","type":"comment","z":"6f6e4e31.dc408","name":"User Authentication","info":"User Authentication","x":230,"y":140,"wires":[]},{"id":"a3682cf5.0f6f9","type":"comment","z":"6f6e4e31.dc408","name":"Device info","info":"Get devices info and store the resulting array of devices to and object containing the device token (key/ value).\n\nResulting devicesToken global variable:\n\n{\n    device1: token,\n    device2: token\n    \n}","x":200,"y":240,"wires":[]},{"id":"ded5045f.c92048","type":"change","z":"6f6e4e31.dc408","name":"Set deviceInfo","rules":[{"t":"set","p":"devicesInfo","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":280,"wires":[["84dbb050.ab19e"]]},{"id":"84dbb050.ab19e","type":"function","z":"6f6e4e31.dc408","name":"","func":"/*\n    Set the array of devices to an object containing the\n    device, token (key/value).\n*/\n\nconst devicesInfo = global.get('devicesInfo');\nconst devicesToken = {};\n\ndevicesInfo.forEach(device => {\n    const { tag, token } = device;\n    devicesToken[tag] = token;\n});\n\nglobal.set('devicesToken', devicesToken);\nnode.warn(devicesToken)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1000,"y":280,"wires":[[]]},{"id":"984493fd.a83e5","type":"azureiothub","z":"6f6e4e31.dc408","name":"Azure IoT Hub","protocol":"mqtt","x":540,"y":380,"wires":[[]]},{"id":"9e97fccf.4dfdd","type":"function","z":"6f6e4e31.dc408","name":"","func":"const devicesToken = global.get('devicesToken');\ndeviceId = '11TEM01_00';\n\nconst data = {\n    timestamp: new Date(),\n    deviceId,\n    value: 24.5\n}\n\nmsg.payload.timestamp = new Date();\nmsg.payload = {\n    deviceId,\n    'key': devicesToken[deviceId],\n    'protocol':'mqtt',\n    data\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":380,"wires":[["984493fd.a83e5"]]},{"id":"c9f3fbb2.a367f8","type":"debug","z":"6f6e4e31.dc408","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":350,"y":480,"wires":[]},{"id":"b40758f1.ccfd98","type":"azureiothubreceiver","z":"6f6e4e31.dc408","name":"01TEM01_00","x":210,"y":480,"wires":[["c9f3fbb2.a367f8"]]},{"id":"3b8ea63b.88351a","type":"comment","z":"6f6e4e31.dc408","name":"Send data","info":"Send data to the iot hub","x":200,"y":340,"wires":[]},{"id":"c91c25cb.53e6e8","type":"comment","z":"6f6e4e31.dc408","name":"Receive data","info":"Receive data from the iot hub","x":210,"y":440,"wires":[]}]